* {
	font-family: 'Roboto', sans-serif;
}

/************************
Header elements
************************/


header {
	background-color: orange;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 5px; 
}

.header > p {
	margin-bottom: 20px;
}



/************************
Main
************************/

/*character boxes*/
.box {
	border: 1px solid lightgray;
	box-sizing: border-box;
	margin-top: 20px;
}

img {
	width: 100%;
}

.description {
	margin: 20px;
	height: 63px;
}

h3, p {
	margin: 5px;
}

/************************
************************/